@use "_variable.scss" as *;
@use "profil.scss";

body{
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    margin-top: 0;
}
#app{
    margin-top: 0;
    max-width: 1620px;
    margin: auto;
    width: calc(100% - 40px);
}
.btn{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-black{
    background-color: #252525;
    color: white;
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid $border-grey;
}

.loader{
    position: absolute !important; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #3091FB;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.loader{
    animation: fadeIn 0.3s ease-in;
}
.loader .text{
    margin-top: 50px;
}
h1{
    color: $title-color-black;
}
h2{
    color: $title-color-black;
    font-size: 20px;
}