@use "_variable.scss" as *;
.titleExperience{
    margin-top: 50px;
}
.experiences {
    display: flex;
    flex-wrap: wrap;
    
    gap: 10px;
}
.experience {
    border: 1px solid $border-grey;
    max-width: 491px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    .infos{
        display: flex;
        gap: 10px;
        .image{
            max-width: 70px;
            max-height: 70px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                
            }
        }
        .info{
            .job{
                margin-top: 10px;
                font-weight: bold;
            }
            .entreprise{
                margin-top: 10px;
                color: $text-grey;
            }
        }
    }
    .date{
        display: flex;
        color: $text-grey;
        margin-top: 15px;
        gap: 5px;
    }
    
}

/*Modal*/
.modal-experience {
    .ctn-modal{
        .ctn-experience{
            .info-experience{
                border-bottom: 1px solid $border-grey;
                padding-bottom: 14px;
                display: flex;
                gap: 30px;
                .image{
                    height: 115px;
                    width: 115px;
                    border-radius: 100px;
                    overflow: hidden;
                    img{
                        object-fit: contain;
                        width: 100%;
                    }
                }
                .info-job{
                    h2{
                        margin-bottom: 5px;
                        color: black;
                    }
                    .entreprise{
                        color: $text-grey;
                    }
                    .date{
                        color: $text-grey;
                        display: flex;
                        gap: 5px;
                        margin-top: 25px;
                    }
                }
            }
            .description{
                margin-top: 10px;
                line-height: 1.8;
            }
        }
    }
}

/*Responsive*/
@media (max-width: 775px) {
    .experience{
        max-width: 100%;
    }
}