@use "_variable.scss" as *;

.profile {
    position: relative;

    .cover {
        max-height: 250px;
        overflow: hidden;
        position: relative;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 0 8px 8px;
        }
    }

    .info-profile {
        display: flex;

        .pp {
            max-width: 180px;
            position: absolute;
            bottom: -20px;
            left: 20px;
            z-index: 1;
            height: fit-content;

            .img-pp {
                width: 100%;
                border-radius: 50%;
                border: 4px solid #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .img-verified {
                width: 40px;
                position: absolute;
                bottom: 21px;
                right: -4px;
            }
        }

        .empty {
            display: block;
            max-width: 250px;
            width: 100%;
            height: 50px;
            /* Ajoutez une hauteur */
        }

        .info {
            h1 {
                margin-bottom: 0;
            }

            p {
                margin-top: 10px;
                color: $text-grey;
                font-size: 19px;
            }
        }

        .contact {
            flex: 1;
            display: flex;
            height: fit-content;
            justify-content: end;
            gap: 10px;
            margin-top: 20px;
            font-size: 17px;

            div,
            a {
                text-decoration: none;
                display: flex;
                gap: 7px;
                font-size: 17px;
            }
        }
    }
}

/*Modal*/
.parent-modal {
    .ctn-modal {
        .form-call {
            .flex-col{
                display: flex;
                flex-flow: column;
                gap: 15px;
            }
            .flex{
                display: flex;
                gap: 16px;
            }
            .flex > *{
                flex: 1;
            }
            input, textarea{
                width: 100% ;
                display: flex;
                padding: 8px;
                border-radius: 6px;
                border: 1px solid $border-grey;
            }
            input:focus, textarea:focus {
                border-color: #008FFF; 
                outline : none; 
            }
            .btn-send{
                width: 100%;
                padding: 6px;
                border-radius: 5px;
                border-color: #008FFF; 
                background-color:#008FFF; 
                color: white;
            }
            .error-input{
                color: red;
                font-size: 13px;
                margin-top: 5px;
            }
            .requestMessage {
                padding: 10px;
                border-radius: 5px;
                color: white;
            }
            .alert-success{
                background: #00b900;
            }
            .alert-danger{
                background: #c40000;
            }
        }
    }
}

/*Responsive*/
@media (max-width: 775px) {
    .profile{
        .info-profile {
            flex-flow: column;
            .contact{
                justify-content: start;
            }
            .empty{
                height: 95px;
            }
            .pp{
                top: 30px;
            }
        }
    }
}