@use "_variable.scss" as *;

.titleProjet {
    margin-top: 50px;
}

.projets {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.projet {
    border: 1px solid $border-grey;
    max-width: 491px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .infos {
        display: flex;
        gap: 10px;

        .image {
            max-width: 70px;
            max-height: 70px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;

            }
        }

        .info {
            .name {
                margin-top: 10px;
                font-weight: bold;
            }

            .ecole {
                margin-top: 10px;
                color: $text-grey;
            }
        }
    }

    .date {
        display: flex;
        color: $text-grey;
        margin-top: 15px;
        gap: 5px;
    }

}

.modal-projet {
    .ctn-modal {
        padding-right: 5px !important; // Espace pour la scrollbar
        .ctn-projet {

            .infos-projet {
                border-bottom: 1px solid $border-grey;
                padding-bottom: 14px;
                display: flex;
                gap: 30px;

                .image {
                    height: 115px;
                    width: 115px;
                    border-radius: 100px;
                    overflow: hidden;

                    img {
                        object-fit: contain;
                        width: 100%;
                    }
                }

                .info-projet {
                    h2 {
                        margin-bottom: 5px;
                        color: black;
                    }

                    .ecole {
                        color: $text-grey;
                    }

                    .date {
                        color: $text-grey;
                        display: flex;
                        gap: 5px;
                        margin-top: 25px;
                    }
                }
            }

            .description {
                margin-top: 10px;
                line-height: 1.8;
            }
        }

        h3 {
            margin-top: 50px;
        }

        .medias-projet {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .video-projet {
                width: 100%;

                video {
                    width: 100%;
                }
            }

            .image-projet {
                max-height: 300px;
                max-width: 275px;
                width: fit-content;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

/*Responsive*/
@media (max-width: 1149px) {
    .projet{
        max-width: 100%;
    }
    .modal-projet{
        .ctn-modal {
            .medias-projet {
                .image-projet{
                    max-width: 331px;
                }
            }
        }
    }
}